.project {
    width: 25%;
    min-width: 200px;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project img {
    width: 60%;
    margin-bottom: 15px;
    
    border: 0.5px solid var(--main-border-color);
    border-radius: 100%;

    background-color: #000;
}

.project .project-name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.project .project-email {
    margin-bottom: 10px;
}

.project .project-contact {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px){
    .project {
        width: 100%;
        margin-bottom: 40px;
    }

    .project img {
        width: 40%;
    }

    .project .project-contact {  
        width: 25%;
    }

    .project .project-name {
        font-size: 35px;
    }

    .project .project-email {
        font-size: 30px;
    }
}