.navbar {
    width: 100%;
    height: 6vh;
    max-width: 1920px;

    background-color: var(--main-bg-color);

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.navbar > a {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    height: 6.4vh;
    transform: scale(0.8);
}

.navbar nav {
    width: 22vw;
    height: 100%;
    min-width: 350px;
    max-width: 450px;

    margin-right: 10px;

    font-size: 15px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav .navbar-link {
    margin: 0;
    margin-right: 10px;
    color: var(--main-text-color);
    font-size: 15px;
}

.navbar nav .navbar-button {
    width: 6vh;
    height: 6vh;
    border: 0px solid;
}

.navbar nav .navbar-button:hover {
    background-color: #cf3e12;
}


@media only screen and (max-width: 1000px) {
    .navbar {
        height: 9vh;
        min-height: 70px;
        flex-direction: column;
    } 
    .navbar > a {
        width: 100%;
    }
    .navbar img {
        background-color: var(--main-bg-color);
        height: 4vh;
    }
    .navbar nav {
        width: 100vw;
        max-width: 100vw;

        justify-content: space-around;
    }
    .navbar nav .navbar-link {
        margin: 0;
        font-size: 30px;
    }
}